<!doctype html>
<html>
  <head>
    <title>Smoke Test</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">

    <!-- 1. Load Polymer before any code that touches the DOM. -->
    <script src="bower_components/webcomponentsjs/webcomponents.js"></script>

    <!-- 2. Load Angular and angular-bind-polymer -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="angular_bind_polymer.js"></script>

    <!-- 3. Establish the Angular application -->
    <script>
      angular.module('smokeTest', [
       'eee-c.angularBindPolymer'
      ]);
    </script>

    <!-- 4. Load Polymer component(s) -->
    <link rel="import" href="test/x-double.html">
  </head>
  <body ng-app="smokeTest">
    <div class="container" ng-init="showForm = true">
      <h1>Smoke Test: angular-bind-polymer</h1>

      <label>
        <input type="checkbox" ng-model="showForm">
        Hide the polymer element using <code>ngIf</code>. Currently <span ng-bind="showForm ? 'shown' : 'hided'"></span>
      </label>

      <div ng-if="showForm">
      <p>
        in:<br>
        <input type=text value="6" ng-model="in">
        <pre ng-bind="in"></pre>
      </p>
      <p>
        out:
        <pre ng-bind="doubled"></pre>
      </p>
        <x-double bind-polymer in="{{in}}" out="{{doubled}}" disabled test="test"></x-double>
      </div>
    </div>
  </body>
</html>
